<section class="container my-5">
    <h1 class="text-center">Add Product</h1>
    <form [formGroup]="productForm" >
        <div class="mb-3">
          <input type="text" class="form-control" formControlName="title" placeholder="Title">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" formControlName="description" placeholder="Description">
        </div>
        <div class="mb-3">
            <input type="number" class="form-control" formControlName="quantity" placeholder="Quantity">
          </div>
        <button class="btn btn-primary" (click)="addProduct()">Submit</button>
      </form>
</section>
